<div class="bg-white p-4 rounded-lg shadow-md">
  <h3 class="text-lg font-bold mb-4">Filtros</h3>

  <div class="mb-4">
    <label class="block text-sm font-medium text-gray-700 mb-2"
      >Categoría</label
    >
    <select
      (change)="onCategoryChange($event)"
      class="w-full border rounded-md p-2"
    >
      <option value="">Todo</option>
      <option
        *ngFor="let category of categories$ | async"
        [value]="category.idcategoria"
      >
        {{ category.categoria }}
      </option>
    </select>
  </div>
</div>
